@page
@model IndexModel
@{
    ViewData["Title"] = "IOT Fire Detection";
}
<div class="container">
    <h1>IOT Fire Detection</h1>
    <hr />
    <div class="row">

        <div class="col-xs-12 col-sm-8">
            <div class="well well-sm">
                <h1 class="text-center text-warning" id="predictionBig">0</h1>
                <h1 class="text-center text-warning">Potential Fire Level</h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="well well-sm">
                <table>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td><label>Last Updated:</label></td>
                            <td class="text-right" id="lastUpdated"></td>
                        </tr>
                        <tr>
                            <td><label>Potential Fire Level:</label></td>
                            <td class="text-right" id="prediction">0</td>
                        </tr>
                        <tr>
                            <td><label>Temperature:</label></td>
                            <td class="text-right" id="temp">0°C</td>
                        </tr>
                        <tr>
                            <td><label>Smoke and Gas Level:</label></td>
                            <td class="text-right" id="smoke">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Prediction Last 60 Seconds</h3>
                </div>
                <div class="panel-body">
                    <canvas id="prediction1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Temperature Last 60 Seconds</h3>
                </div>
                <div class="panel-body">
                    <canvas id="temp1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Smoke and Gas Level Last 60 Seconds</h3>
                </div>
                <div class="panel-body">
                    <canvas id="smoke1"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Prediction Last 60 Minutes</h3>
                </div>
                <div class="panel-body">
                    <canvas id="prediction2"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Temperature Last 60 Minutes</h3>
                </div>
                <div class="panel-body">
                    <canvas id="temp2"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Smoke and Gas Level Last 60 Minutes</h3>
                </div>
                <div class="panel-body">
                    <canvas id="smoke2"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Prediction Last 24 Hours</h3>
                </div>
                <div class="panel-body">
                    <canvas id="prediction3"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Temperature Last 24 Hours</h3>
                </div>
                <div class="panel-body">
                    <canvas id="temp3"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Smoke and Gas Level Last 24 Hours</h3>
                </div>
                <div class="panel-body">
                    <canvas id="smoke3"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Prediction Last 7 Days</h3>
                </div>
                <div class="panel-body">
                    <canvas id="prediction4"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Temperature Last 7 Days</h3>
                </div>
                <div class="panel-body">
                    <canvas id="temp4"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Smoke and Gas Level Last 7 Days</h3>
                </div>
                <div class="panel-body">
                    <canvas id="smoke4"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        setupLastMinute();
        setupLastHour();
        setupLastDay();
        setupLastWeek();
    </script>
}